@using Microsoft.AspNet.Identity
@using DataLayer.Data
@using DataLayer.Models.ViewModels
@inject IMessagesService MessagesService

@model List<ConversationListItemViewModel>


<div class="conversation-list">
	<h1>Chattar</h1>
	<ul class="item-list">
		@foreach (var c in Model)
		{
			var url = c.OtherUsername == null
			? Url.Action("Index", "Messages", new { conversationId = c.ConversationId })
			: Url.Action("Index", "Messages", new { username = c.OtherUsername });

			<li class="conversation-item"
				data-url="@url">

				<div class="profile-pic icon-with-badge">
					<img src="@c.OtherUsersProfileImageUrl"
						 alt="Profile picture"
						 class="avatar-img" />

					@{
						int unread = c.UnreadCount;

						if (unread > 0)
						{
							string n = (unread > 99) ? "99+" : $"{unread}";
							<span class="notification-dot">@n</span>
						}
					}
				</div>

				<div class="conversation-text">
					<a asp-controller="Cv" asp-action="Details" asp-route-username="@c.OtherUsername" class="profile-link">
						<strong>@c.OtherUsersFullName</strong>
					</a>

					<div class="conversation-preview">
						<span> @(c.LastMessageIsMine ? "Du: " : "")@c.Preview</span>
					</div>
				</div>

				<div class="conversation-date">
					@(c.LastSentAt.Date == DateTime.Today
									? c.LastSentAt.ToString("HH:mm")
									: c.LastSentAt.ToString("yyyy-MM-dd"))
			</div>


			</li>
		}
	</ul>
</div>





