@using PortfolioProject.Models
@model ConversationViewModel

<script src="/js/messageThread.js" type="module"></script>


<div class="conversation-content">

	@if (!Context.Request.Path.Value!.Contains("/anon/"))
	{
		<div class="thread-header">
			<a class="back-link" href="@Url.Action("Index", "Message")">
				<i class="bi bi-arrow-left"> Chattar</i>
			</a>
			@if (Model.OtherUsername != null)
			{
				<a asp-controller="Cv" asp-action="Details" asp-route-username="@Model.OtherUsername" class="profile-link">
					<h1>@Model.OtherUsersFullName</h1>
				</a>
			}
			else
			{
				<h1>@Model.OtherUsersFullName</h1>
			}
		</div>
	}


	<div class="messages">
		@foreach (var msg in Model.Messages)
		{
			@if (!msg.IsMine)
			{
				<div class="received-row">
					<a asp-controller="Cv" asp-action="Details" asp-route-username="@Model.OtherUsername" class="profile-link">
						<img src="@Model.OtherUsersProfileImageUrl" />
					</a>
					<div class="received">
						<small class="timestamp">@msg.SentAt.ToString("g")</small>
						<p>@msg.Body</p>
						<button class="msg-delete" aria-label="Ta bort">
							<i class="bi bi-trash3"></i>
						</button>
					</div>
					
				</div>
			}
			else
			{
				<div class="sent">
					<small class="timestamp">@msg.SentAt.ToString("g")</small>

					<p>@msg.Body</p>
					<small class="read-status">
						@(msg.IsRead ? "Läst" : "Skickat")
					</small>
				</div>
			}



		}
	</div>

	@{
		var isLoggedIn = User?.Identity?.IsAuthenticated == true;


		var url = !isLoggedIn
		? Url.Action("SendAnonymous", "Message", new { publicId = Model.PublicId })
		: (Model.OtherUsersId == null
		? Url.Action("Send", "Message", new { conversationId = Model.ConversationId })
		: Url.Action("Send", "Message", new { username = Model.OtherUsername }));

	}
	<div class="send-area">
		<form action="@url" method="post" style="display: contents;">
			<div class="text-box">
				<small id="counter">0/3500</small>
				@if (TempData["SendError"] is string error)
				{
					<div id="send-error" class="text-danger">@error</div>
				}

				<emoji-picker class="emoji-picker light" hidden></emoji-picker>
				<i class="bi bi-emoji-smile-fill emoji"></i>
				<textarea maxlength="3500" name="Body" class="input-box"></textarea>

				<button class="send-btn" type="submit">
					<i class="bi bi-send"></i>
				</button>

			</div>

		</form>
	</div>
</div>





