@using Microsoft.AspNet.Identity
@using DataLayer.Data
@using DataLayer.Models.ViewModels
@inject IMessagesService MessagesService

@model List<ConversationListItemViewModel>


<div class="conversation-list">
	<h1>Chattar</h1>

	<ul class="item-list">
		@foreach (var c in Model)
		{
			var url = c.OtherUsername == null
			? Url.Action("Index", "Messages", new { conversationId = c.ConversationId })
			: Url.Action("Index", "Messages", new { username = c.OtherUsername });

			<li class="conversation-item"
				data-url="@url">

				<div class="profile-pic icon-with-badge">
					<img src="@c.OtherUsersProfileImageUrl"
						 alt="Profile picture"
						 class="avatar-img" />

					@{
						int unread = c.UnreadCount;

						if (unread > 0)
						{
							string n = (unread > 99) ? "99+" : $"{unread}";
							<span class="notification-dot">@n</span>
						}
					}
			</div>

			<div class="conversation-text">
				<a asp-controller="Cv" asp-action="Details" asp-route-username="@c.OtherUsername" class="profile-link">
					<strong>@c.OtherUsersFullName</strong>
				</a>

				<div class="conversation-preview">
					<span> @(c.LastMessageIsMine ? "Du: " : "")@c.Preview</span>
				</div>
			</div>

			<div class="conversation-date">
				@(c.LastSentAt.Date == DateTime.Today
								? c.LastSentAt.ToString("HH:mm")
								: c.LastSentAt.ToString("yyyy-MM-dd"))
			</div>


			</li>
				}
	</ul>
</div>

<style>
	.btn-row {
		display: flex;
		gap: 2px;
	}
	.filter-btn{
		background-color: transparent;
		color: black;
		min-width: 64px;
		border: none;
	}

	.filter-btn.active {
			background-color: rgba(13, 110, 253, 0.12); /* Bootstrap primary, light */
			color: var(--bs-primary);
	}

		.filter-btn:hover {
			background-color: rgba(13, 110, 253, 0.06);
		}
</style>

<script>
	const btns = document.querySelectorAll(".filter-btn");

	btns.forEach(btn => {
	  btn.addEventListener("click", () => {
		// If already active, do nothing (optional safeguard)
		if (btn.classList.contains("active")) return;

		// Remove active from all buttons
		btns.forEach(b => b.classList.remove("active"));

		// Add active to the clicked button
		btn.classList.add("active");
	  });
	});
</script>





