@model CvDetailsViewModel

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="/cv/cv.css" rel="stylesheet" />

<div class="intro custom-card">


    @{
        string action = "StartAnonymousThread";
    }

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        action = "Index";
    }

    <a class="btn btn-outline-primary btn-sm send-message-btn"
       asp-controller="Message" asp-action="@action" asp-route-username="@Model.User.UserName">
        <i class="bi bi-envelope"></i>
        Skicka meddelande
    </a>

    @if (Model.User.IsPrivate)
    {
        <i class="bi bi-lock-fill lock" title="Privat profil"></i>
    }
    else
    {
        <i class="bi bi-unlock-fill lock" title="Offentlig profil"></i>
    }

    <div class="personal">
        <div class="pic-and-socials">
            <div class="profile-pic">
                <img src="@Model.User.ProfileImageUrl"
                     alt="Profile picture"
                     class="avatar-img" />
            </div>



            <ul class="socials">
                <li>
                    <a href="@Model.Cv.GitHubUrl"
                       target="_blank"
                       rel="noopener noreferrer"
                       aria-label="GitHub profile">
                        <img src="/cv/images/github.svg">
                    </a>
                </li>

                <li>
                    <a href="@Model.Cv.LinkedInUrl"
                       target="_blank"
                       rel="noopener noreferrer"
                       aria-label="LinkedIn profile">
                        <img src="/cv/images/linkedin.svg">
                    </a>
                </li>

                <li>
                    <a href="@Model.Cv.XUrl"
                       target="_blank"
                       rel="noopener noreferrer"
                       aria-label="X profile">
                        <img src="/cv/images/X.svg">
                    </a>
                </li>
            </ul>

        </div>

        <div class="personal-info">
            <h1>@Model.User.FirstName @Model.User.LastName</h1>
            @if (Model.Cv.Title != null)
            {
                <h4 class="text-muted">@Model.Cv.Title</h4>
            }
            @if (Model.Cv.Summary != null)
            {
                <p>@Model.Cv.Summary</p>
            }
        </div>
    </div>

    <h4 class="text-muted">Färdigheter</h4>
    <section class="skills">
        @foreach (var skill in Model.Cv.Skills)
        {
            <span class="skill-pill">
                @if (skill.ImageUrl != null)
                {
                    <img src="@skill.ImageUrl" alt="" class="skill-icon" />
                }
                <span>@skill.Name</span>
            </span>
        }
    </section>

</div>






<div class="cv-content">

    <section class="educations">
        <h2>Utbildning</h2>
        @foreach (var education in Model.Cv.Educations)
        {
            <div class="education custom-card">
                <div style="display: flex; gap: 0.5rem;">
                    <h3 style="font-weight: 400;">@education.Degree</h3>
                    <h3>@education.School</h3>
                </div>
                <p>
                    @education.StartYear.ToString("yyyy")-@education.EndYear.ToString("yyyy")
                </p>
            </div>
        }
    </section>

    <section class="experiences">
        <h2>Erfarenhet</h2>
        @foreach (var experience in Model.Cv.Experiences)
        {
            <div class="experience custom-card">
                <div style="display: flex; gap: 0.5rem;">
                    <h3 style="font-weight: 400;">@experience.Role</h3>
                    <h3>@experience.Company</h3>
                </div>


                <p>
                    @experience.StartYear.ToString("yyyy")-@experience.EndYear.ToString("yyyy")
                </p>
            </div>
        }
    </section>
</div>

<div>
    @if (Model.User.Projects.Count > 0)
    {
        <h2 class="m-2 mt-4 p-2">Projekt</h2>
    }
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 m-1">

        @foreach (var project in Model.User.Projects)
        {
            <div class="card text-center mt-2 project-card pc visible">
                <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" class="text-decoration-none text-reset">
                    <div class="card-header align-items-center">
                        <h5>@project.Title</h5>
                    </div>
                    <div class="card-body">
                        <p class="project-meta">Skapat: @project.CreatedDate.ToString("yyyy-MM-dd")</p>
                        <p>@project.Description</p>

                        <div class="d-flex justify-content-center mt2">
                            @if (project.Owner == null || !project.Owner.IsActive)
                            {
                                <div class="participant-img col-4 col-sm-3 col-md-2 col-lg-1">
                                    <img src="/images/default-profile2.png" />
                                </div>
                            }
                            else
                            {
                                <div class="participant-img col-4 col-sm-3 col-md-2 col-lg-1">
                                    <img src="@project.Owner.ProfileImageUrl" />
                                </div>
                            }

                            @if (project.Users.Any())
                            {
                                var activeUsers = project.Users.Where(u => u.IsActive && u.Id != project.Owner.Id && !u.IsPrivate).ToList();
                                @foreach (var user in activeUsers.Take(4))
                                {
                                    if (user.IsActive && user != null)
                                    {
                                        <div class="participant-img col-4 col-sm-3 col-md-2 col-lg-1">
                                            <img src="@user.ProfileImageUrl" />
                                        </div>
                                    }
                                }
                                @if (project.Users.Count() > 4)
                                {
                                    <span class="ms-2 small text-muted">+@(@project.Users.Count() - 4)</span>
                                }

                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


@if (Model.SimilarCvs != null && Model.SimilarCvs.Any())
{
    <section class="cv-section">
        <h2>Liknande användare</h2>
        <div class="container" id="cvSection">
            <div id="cvCarousel"
                 class="carousel slide"
                 data-bs-interval="false">

                @await Html.PartialAsync("_CvCarouselPartial", Model.SimilarCvs)

                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#cvCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#cvCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </section>
}

<script>
        document.addEventListener("DOMContentLoaded", () => {
        const carousel = document.getElementById("cvCarousel");
        const slides = carousel.querySelectorAll(".carousel-item");

        const prevBtn = carousel.querySelector(".carousel-control-prev");
        const nextBtn = carousel.querySelector(".carousel-control-next");

        if (slides.length > 1) {
            prevBtn.style.display = "block";
            nextBtn.style.display = "block";
        } else {
            prevBtn.style.display = "none";
            nextBtn.style.display = "none";
        }
    });
</script>






