@using System.Security.Claims
@model ProjectViewModel

<section class="search-section d-flex align-items-center position-relative my-2">
	<a asp-controller="Project" asp-action="Projects" class="btn btn-outline-secondary btn-sm position-absolute start-0 ms-4 project-btn" style="text-decoration: none">
		<i class="bi bi-arrow-left"></i>
	</a>
	<h3 class="mx-auto">@Model.Project.Title</h3>

	@if (User.Identity?.IsAuthenticated == true && User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Project.OwnerId && User.HasClaim("IsActive", "true"))
	{
		<a asp-action="Edit" asp-route-id="@Model.Project.Id" class="btn btn-outline-secondary btn-sm position-absolute end-0 me-4 project-btn">
			<i class="bi bi-pencil"></i>
		</a>
	}
</section>

<div class="container">
	<div class="row mx-auto details-container">
		<div class="col-md-8">
			<div class="card mt-2 details-card">
				<div class="card-body text-center">
					<p class="project-meta">Skapat: @Model.Project.CreatedDate.ToString("yyyy-MM-dd")</p>
					<p>@Model.Project.Description</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-3 mt-md-0">
			<div class="card mt-2">
				<div class="card-body details-card">

					<p><strong>Deltagare (@Model.Project.Users.Count(u => u.IsActive)):</strong></p>
					@if (!Model.IsOwnerHidden)
					{

						<div class="d-flex align-items-center mb-2">
							<a asp-controller="Cv" asp-action="Details" asp-route-username="@Model.Project.Owner.UserName" class="d-flex align-items-center text-black text-decoration-none">
								<div class="details-participant-img">
									<img src="@Model.OwnerImageUrl" />
								</div>
								<span class="ms-1">@Model.OwnerText</span>
							</a>
							<span class="badge owner-badge ms-2">Ägare</span>
						</div>
					}
					else
					{
						<div class="d-flex align-items-center text-muted">
							<div class="details-participant-img">
								<img src="@Model.OwnerImageUrl" />
							</div>
							<span class="ms-1 @(Model.IsOwnerHidden ? "fst-italic" : "")">@Model.OwnerText</span>
							<span class="badge owner-badge ms-2">Ägare</span>
						</div>
					}


					@if (Model.Participants != null)
					{
						<div class="list-group">
							@foreach (var user in Model.Participants)
							{
								<a asp-controller="Cv" asp-action="Details" asp-route-username="@user.UserName" class="text-black text-decoration-none">
									@if (user.IsActive)
									{
										<div class="d-flex align-items-center mb-2">
											<div class="details-participant-img">
												<img src="@user.ProfileImageUrl" />
											</div>

											<span class="ms-1">
												@user.FirstName @user.LastName
											</span>
										</div>
									
									}
								</a>
							}
						</div>
					}
				</div>
			</div>

			@{
				if (User.Identity?.IsAuthenticated == true && User.HasClaim("IsActive", "true"))
				{
					bool isParticipant = Model.Project.Users.Any(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
					bool isOwner = User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Project.OwnerId;

					if (isParticipant && !isOwner)
					{
						<div class="text-center mt-2">
							<form asp-action="LeaveProject" method="post">
								<input type="hidden" name="pid" value="@Model.Project.Id" />
								<input type="hidden" name="returnUrl" value="@Context.Request.Path" />
								<button class="border-0 leave-btn">Lämna projekt</button>
							</form>
						</div>
					}
					else if (!isParticipant)
					{
						<div class="text-center mt-2">
							<form asp-action="JoinProject" method="post">
								<input type="hidden" name="pid" value="@Model.Project.Id" />
								<input type="hidden" name="returnUrl" value="@Context.Request.Path" />
								<button class="border-0 participate-btn">Delta i projekt</button>
							</form>
						</div>
					}
				}

			}
		</div>
	</div>
</div>