@using System.Security.Claims
@model IEnumerable<ProjectViewModel>

<section class="search-section d-flex align-items-center position-relative my-2">
	<h3 class="mx-auto">Projekt</h3>
	@if (User.Identity.IsAuthenticated)
	{
		<a asp-controller="Project" asp-action="Create" class="btn btn-outline-secondary btn-sm position-absolute end-0 me-4" style="text-decoration: none">
			<i class="bi bi-plus-lg"></i>
		</a>
	}
</section>

<section>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 all-projects">
		@foreach (var projectVM in Model)
		{
			<div class="col">
				<div class="card project-card2 mt-2">
					<a asp-controller="Project" asp-action="Details" asp-route-id="@projectVM.Project.Id" class="text-decoration-none text-reset">
					<div class="card-header">
						<h5>@projectVM.Project.Title</h5>
					</div>
					<div class="card-body">
						<p>Skapat: @projectVM.Project.CreatedDate.ToString("yyyy-MM-dd")</p>
						<p>@projectVM.Project.Description</p>

						<p><strong>Deltagare (@projectVM.Project.Users.Count):</strong></p>
						@if (projectVM.VisibleUsers != null && projectVM.VisibleUsers.Any())
						{
							<div class="row g-2">
							@foreach (var user in projectVM.VisibleUsers)
							{
									<div class="participant-img col-4 col-sm-3 col-md-2 col-lg-1">
									<img src="@(string.IsNullOrEmpty(user.ProfileImageUrl)
																? Url.Content("~/images/default-profile2.png")
																: user.ProfileImageUrl)"
									alt=""/>
								</div>
							}
							</div>
						}
					</div>
					</a>
					@if (User.Identity.IsAuthenticated)
					{
						bool isParticipant = projectVM.Project.Users.Any(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
						<div class="card-footer text-center">

							@if (!isParticipant)
							{
								<form asp-action="JoinProject" asp-controller="Project" method="post">
									<input type="hidden" name="pid" value="@projectVM.Project.Id" />
									@* skickar med url för sidan användaren är på *@
									<input type="hidden" name="returnUrl" value="@Context.Request.Path" /> 
									<button class="border-0"> Delta </button>
								</form>
							}
							else
							{
								<button disabled class="border-0"> Deltar ✔ </button>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>
</section>