@using System.Security.Claims
@model HomeViewModel
@section Scripts {
	<script src="~/js/homepage.js"></script>
}

<section class="search-section">
	
	<div class="row m-3 align-items-center">

		<div class="col-auto">
			<label class="col-form-label">Sök efter användare:</label>
		</div>

		<div class="col-md-3">
			<input class="form-control" placeholder="Namn" id="nameSearch"/>
		</div>

		<div class="col-auto">
			<label class="col-form-label">Sök efter kompetens:</label>
		</div>

		<div class="col-md-3">
			<select class="form-select" id="skillSearch">
				<option value="">Välj kompetens</option>
				@foreach (var skill in Model.Skills)
				{
					<option>@skill.Name</option>
				}
			</select>
		</div>
	</div>
</section>

<section class="cv-section">
	<div class="container" id="cvSection">
		<div id="cvCarousel"
			 class="carousel slide"
			 data-bs-interval="false">

				@await Html.PartialAsync("CvCarouselPartial", Model.Cvs)
			
			<button class="carousel-control-prev"
					type="button"
					data-bs-target="#cvCarousel"
					data-bs-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</button>

			<button class="carousel-control-next"
					type="button"
					data-bs-target="#cvCarousel"
					data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			</button>
	</div>
</section>

<section class="project-section">
	<h3 class="text-center my-4">Projekt: </h3>
	@* vill vi ha fler projekt eller bara senaste? 
	ska man kunna klicka på projekt och se mer, 
	typ vilka som är med, skapat av vem osv*@
	<div>
		<div class="col g-3">
			@foreach (var project in Model.Projects)
			{
					<div class="card text-center project-card">
						<div class="card-header align-items-center">
							<p>@project.Title</p>
						</div>
						<div class="card-body">
							<p>Skapat: @project.CreatedDate.ToString("yyyy-MM-dd")</p>
							<p>@project.Description</p>
							<p>Antal deltagare: @project.Users.Count </p>
						</div>
						@if (User.Identity.IsAuthenticated)
						{
							@*Jämför användarens ID hämtat från inloggnings-claims med ID:n på användare 
							som är kopplade till projektet. Inloggnings-claims är information om den inloggade 
							användaren som systemet sparar och gör tillgänglig under hela sessionen.
							FindFirstValue innebär gå igenom alla claims och hitta den som har Id och ge dess värde*@
							var isParticipant = project.Users.Any(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
							<div class="card-footer">

							@if(!isParticipant)
							{
								<form asp-action="JoinProject" asp-controller="Home" method="post">
									<input type="hidden" name="pid" value="@project.Id" />
									<button class="border-0"> Delta </button>
								</form>
							}
							else
							{
									<button disabled class="border-0"> Deltar ✔ </button>
							}
							</div>

						}

					</div>
			}
		</div>
	</div>
</section>



