@model HomeViewModel

<section class="search-section">

	<h3 class="text-center my-4 ">Utforska cvn:</h3>
	
	<div class="row m-3 align-items-center">

		<div class="col-auto">
			<label class="col-form-label">Sök efter användare:</label>
		</div>

		<div class="col-md-3">
			<input class="form-control" placeholder="Namn" />
		</div>

		<div class="col-auto">
			<label class="col-form-label">Sök efter kompetens:</label>
		</div>

		<div class="col-md-3">
			<select class="form-select">
				<option value="">Välj kompetens</option>
				@foreach (var skill in Model.Skills)
				{
					<option>@skill.Name</option>
				}
			</select>
		</div>
	</div>
</section>

<section class="cv-section">
	<div class="container">
		<div class="row row-cols-1 row-cols-5 g-3">

			@foreach (var cv in Model.Cvs)
			{
				<div class="col">

					<a asp-controller="Cv" asp-action="Details" asp-route-username="@cv.User.UserName" class="text-decoration-none text-dark">
						<div class="card cv-card">
							<div class="card-body cv-card-body">
								@if (cv.Educations.Count > 0)
								{
									<p>Utbildning:</p>
								}
								@foreach (var education in cv.Educations)
								{
									<p>@education.School  - @education.Degree - @education.StartYear.ToString("yyyy-MM-dd") - @education.EndYear.ToString("yyyy-MM-dd")</p>
								}
								@if (cv.Experiences.Count > 0)
								{
									<p>Erfarenhet:</p>
								}
								@foreach (var experience in cv.Experiences)
								{
									<p>@experience.Company - @experience.Role  - @experience.StartYear.ToString("yyyy-MM-dd") - @experience.EndYear.ToString("yyyy-MM-dd")</p>
								}
								@if (cv.Skills.Count > 0)
								{
									<p>Skills:</p>

								}
								<ul>
									@foreach (var skill in cv.Skills)
									{
										<li>@skill.Name</li>
									}
								</ul>

							</div>
							<div class="card-footer cv-card-footer">
								<div class="d-flex align-items-center gap-2">

									<div class="profile-img">
										<img src="@(string.IsNullOrEmpty(cv.User.ProfileImageUrl)
															 			  ? Url.Content("~/images/default-profile.png")
															 			  : cv.User.ProfileImageUrl)"
										 alt="" />
								</div>
								<div class="col">@cv.User.FirstName @cv.User.LastName</div>
							</div>
						</div>
					</div>
				</a>


				</div>
						}
		</div>
	</div>
</section>

<section class="project-section">
	<h3 class="text-center my-4">Projekt: </h3>
	@* vill vi ha fler projekt eller bara senaste? 
	ska man kunna klicka på projekt och se mer, 
	typ vilka som är med, skapat av vem osv*@
	<div>
		<div class="row row-cols-1 row-cols-5 g-3">
			@foreach (var project in Model.Projects)
			{
				<div class="col">
					<div class="card">
						<div class="card-header">
							<p>@project.Title</p>
						</div>
						<div class="card-body">
							<p>Skapat: @project.CreatedDate.ToString("yyyy-MM-dd")</p>
							<p>@project.Description</p>
						</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div class="card-footer">
								<button class="border-0"> Delta </button>
							</div>
						}

					</div>

				</div>
			}
		</div>
	</div>
</section>



